@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:300cursive,70);

body {
  font: 0.9em, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fffbed;
}
#header {
  width:100%;
  height:10%;
  position: absolute;
  top:0;
  left:0;
  background-color: #333333;
  color: #ffffff;
}
#repositoryName {
  float: left;
  padding-left: 2em;
}
.pathTextBold {
  font-size: 2em;
  font-weight: bold;
}
#menuButtons {
  float: right;
  padding-top: 1.5em;
  padding-right: 2em;
}
#menuButtons ul li {
  font-size: 1.3em;
  display: inline-block;
}
#menuButtons ul li a{
  color: #ffffff;
  text-decoration: none;
}
#menuButtons ul li a:hover{
  color: #ffffff;
  text-decoration: underline;
}
#menuButtons ul li:first-child:before {
  content: "\2223";
  padding-left: 0.01em;
  padding-right: 1.2em;
}
#menuButtons ul li:before {
  content: "\2223";
  padding-left: 1.2em;
  padding-right: 1.2em;
}
#menuButtons ul li:last-child:after {
  content: "\2223";
  padding-left: 1.2em;
}
#hireButton {
  position: relative;
  float: right;
  padding-top: 10em;
  margin-right: -1em;
  width: 5em;
  height: 2.5em;
  background-color: #88e074
}
#hireText {
  position: relative;
  margin-top: -2.3em;
  margin-left: 0.5em;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1.2em;
}
#hireArrow {
  position: relative;
  float: right;
  padding-top: 9.5em;
  margin-right: -5em;
  width: 0;
	height: 0;
	border-left: 2.5em solid transparent;
	border-right: 2.5em solid transparent;
	border-bottom: 3em solid #fffbed;
}
#mainBody {

}
#footer {

}
